<!DOCTYPE html>
<html xmlns:th="https://org.thymleaf.com" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!-- dn--dp1-donate-area End  -->
<!-- dn--hm1--footer--area Start  -->
<footer th:fragment="footer_fragment" class="dn--hm1--footer--area ">
    <div class="dn--hm1--footer--container position-relative ">

        <div class="dn--hm1--footer--subContainer--1">

            <div class="dn--hm1--footer--subContainer--1--contentBox">
                <h2 class="dn--hm1--footer--title " data-fade-from="left">Make sure not to overlook our monthly updates.</h2>
                <div class="dn--hm1--footer--rightBox">
                    <span class="dn--hm1--footer--txt ">The latest news, articles and resources, sent to your inbox weekly.</span>
                    <form class="dn--hm1--footer--sbmit--form" action="">
                        <div class="dn--hm1--footer--input--btnBox">
                            <div class="dn--hm6-button">

                                <button class="dn--button-hover dn--button-hover-2">
                          <span class="dn--button-hover-text">
                            Subscribe
                          </span>
                                    <span class="dn--button-hover-arrow">
                            <svg class="dn--button-hover-svg-arrow" xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 9.8 9.8">
                              <g>
                                <path d="m.4 9.4 9-9"></path><path d="M.4.5h8.9"></path><path d="M9.3 9.4V.5"></path>
                              </g>
                              <g><path d="m.4 9.4 9-9"></path><path d="M.4.5h8.9"></path><path d="M9.3 9.4V.5"></path>
                              </g>
                            </svg>
                          </span>
                                </button>
                            </div>
                        </div>
                        <input class="dn--hm1--footer--input  rounded-pill" placeholder="Enter your email" type="email" required>
                    </form>
                </div>
            </div>

        </div>

        <div class="dn--hm1--footer--subContainer--2 container px-xxl-0">

            <div class="dn--hm1--footer--logoBox">
                <a class="dn--hm1--footer--logoBox--link" href="#">
                    <img class="dn--hm1--footer--logo" th:src="@{/assets/images/nav-logo.svg}" alt="">
                </a>
            </div>
            <ul class="dn--hm1--footer--itemBox">
                <li class="dn--hm1--footer--item"><a class="dn--hm1--footer--item-link" href="#">Home</a></li>
                <li class="dn--hm1--footer--item"><a class="dn--hm1--footer--item-link" href="#">Our Journey</a></li>
                <li class="dn--hm1--footer--item"><a class="dn--hm1--footer--item-link" href="#">Causes</a></li>
                <li class="dn--hm1--footer--item"><a class="dn--hm1--footer--item-link" href="#">Events</a></li>
                <li class="dn--hm1--footer--item"><a class="dn--hm1--footer--item-link" href="#">Team</a></li>
                <li class="dn--hm1--footer--item"><a class="dn--hm1--footer--item-link" href="#">Stories</a></li>
            </ul>
            <div class="dn--hm1--footer--iconBox">
                <a class="dn--hm1--footer--icon" href="#">
                    <i class="icon-facebook"></i>
                </a>
                <a class="dn--hm1--footer--icon" href="#">
                    <i class="icon-instagram"></i>
                </a>
                <a class="dn--hm1--footer--icon" href="#">
                    <i class="icon-linkedin"></i>
                </a>
            </div>

        </div>

        <div class="dn--hm1--footer--subContainer--3 container px-xxl-0">

            <div class="dn--hm1--footer--bottom--single-Item   dn--hm1--footer--bottom--single-Item--1">
                <p class="dn--hm1--footer--bottom--single-Item--txt   dn--hm1--footer--bottom--single-Item--1--txt ">© 2024 Droits. — Donate Children</p>
            </div>

            <div class="dn--hm1--footer--bottom--single-Item  dn--hm1--footer--bottom--single-Item--2">
                <a class="dn--hm1--footer--bottom--single-Item--txt  dn--hm1--footer--bottomLink" href="#">Terms & Conditions</a>
                <a class="dn--hm1--footer--bottom--single-Item--txt  dn--hm1--footer--bottomLink" href="#">Legal Notice</a>
            </div>

        </div>

        <div class="dn--hm1--footer--subContainer--svg position-absolute ">

        </div>

    </div>


    <!-- Start script -->
    <script th:src="@{/assets/js/jquery.js}"></script>
    <script th:src="@{/assets/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/assets/js/lity.min.js}"></script>
    <script th:src="@{/assets/js/wow.min.js}"></script>
    <script th:src="@{/assets/js/masonry.min.js}"></script>
    <script th:src="@{/assets/js/gsap.min.js}"></script>
    <script th:src="@{/assets/js/SplitText.min.js}"></script>
    <script th:src="@{/assets/js/ScrollTrigger.min.js}"></script>
    <script th:src="@{/assets/js/slick.min.js}"></script>
    <script th:src="@{/assets/js/swiper-bundle.min.js}"></script>
    <script th:src="@{/assets/js/appear.js}"></script>
    <script th:src="@{/assets/js/odometer.min.js}"></script>
    <script th:src="@{/assets/js/jquery-accordion-menu.js}"></script>
    <script th:src="@{/assets/js/script.js}"></script>
    <script th:src="@{/assets/js/ThemeAnim.js}"></script>
</footer>
<!-- dn--hm1--footer--area End-->




</body>
</html>